---
import { Image, Picture } from "astro:assets";
import Katie from "../assets/image.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- <Image src={Katie} alt="Katie" densities={[1.5, 2]} width={500} /> -->
    <!-- <Image
      src={Katie}
      alt="Katie"
      widths={[240, 540, 720, Katie.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Katie.width}px`}
    /> -->
    <!-- <Picture
      src={Katie}
      alt="Katie"
      widths={[240, 540, 720, Katie.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Katie.width}px`}
      fallbackFormat="jpeg"
    /> -->
    <Picture
      src={Katie}
      alt="Katie"
      widths={[240, 540, 720, Katie.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Katie.width}px`}
      fallbackFormat="jpeg"
      formats={["avif", "webp", "jpeg"]}
    />
  </body>
</html>
